
body {
	background: white;
	font-family: arial, sans-serif;
	background-color: #3FA9E2;
	font-size: 0.75em;
  }

  	.btn {
		padding: 1em;
		margin: 1em;
		font-size: 1em;
		background-color: #3FA9E2;
	}

  	.btn-sm {
		padding: 0.25em;
		margin: 0.25em;
		font-size: 0.75em;
		background-color: #3FA9E2;
	}

  	.btn-med {
		padding: 0.75em;
		margin: 0.75em;
		font-size: 0.75em;
		background-color: #3FA9E2;
	}

	.header {
		display: flex;
	}

	.orderBox {
		display: flex;

		/* position: fixed; */
		/* width: 20em;
		min-height: 25em;
		background-color: violet;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em; */
	}

	.hidden {
		display: none;
	}

	.cart {
		position: fixed;
		width: 80%;
		margin: auto;
		/* width: 40%; */
		min-height: 15em;
		background-color: #CDD93F;
		top: 0em;
		right: 0em;
		margin-right: 1em;
		padding: 1em;
		border: 0.1em solid;
		border-radius: 0.25em;
	}

	.cart table {
		border-collapse: collapse;
	}
	
	.cart table {
		border-collapse: collapse;
	}

	.cart table, th, td {
		/* border: 1px solid dodgerblue; */
	}

	.cart th, td {
		padding: 15px;
		text-align: left;
	}

	.cartTotal {
		padding: 1em;
	}
	
	.info {
		height: 15em;
	}

  	.small {
		background-color: #E03571;
  	}
  
  .medium {
	background-color: #E2AE3D;
  }
  
  .large {
	background-color: #E06733;
	flex : 2;
  }
  
  .specials div {
	flex: 1;
	/* border: 1px solid lightgrey; */
	margin: 0em;
	padding: 1em;
	
  }
  
  .small img {
	width: 4em;
  }
  
  .medium img {
	width: 5em;
  }
  
  
  .large img {
	width: 7em;
	
  }
  
  .footer {
	display: flex;
  }
  
  .footer div {
	flex: 1;
  /*   border: 1px solid;
	 */  margin-top: 1em;
	padding: 1em;
	background-color: #CDD93F;
  }
  
  
  @media (min-width: 768px){
	
	.cart {
		width: 40%;
		/* width: 40%; */
		/* margin: auto; */
	}

	.specials {
	  display: flex;
	}
	
	body {
	  font-size: 1em;
	}
	
  }
  
  
  