body {
	background: white;
	font-family: arial, sans-serif;
	background-color: #3FA9E2;
	font-size: 0.75em;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Background colors */
  .small {
	background-color: #E03571;
  }
  
  .medium {
	background-color: #E2AE3D;
  }
  
  .large {
	background-color: #E06733;
  }

  /* Images styling */
  .small img {
	width: 5em;
  }
  
  .medium img {
	width: 5em;
  }
  
  .large img {
	width: 5em;
  }

  .specials div {
    float: left;
    width: 33.33%;
    padding: 50px;
    /* height: 200px; */
    overflow:hidden;

  }

  .footer {
    clear: left;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9669F2;
    /* color: white; */
    text-align: center;
  }
/* 
  @media (min-width: 768px){
  
	.specials {
	  float: left;
	}
	
	body {
	  font-size: 1em;
	}
  } */
  
  .specials::after {
    display: block;
    clear: both;
    content: "";
  }

  @media only screen and (max-width: 40em) {
    .specials {
        float:none;
        width:100%;
        margin-bottom:5px
    }

    body {
        font-size: 0.6em;
      }
}